.autoComplete {
	position: relative;
	display: inline-block;
}

.results {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.result_image {
	width: 80px;
	height: 80px;
}

.posterImg {
	width: 200px;
	height: 200px;
}

.movie_plot {
	width: 220px;
}

.result {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	display: flex;
	gap: 10%;
}

.is_active {
	display: block;
}

.columns {
	display: flex;
	gap: 20%;
}

.details {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 200px;
	/* margin: auto; */
	text-align: center;
	background-color: cadetblue;
	color: black;
	/* font-family: arial; */
}
